<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
	    <title>App Calculator</title>
	    <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
    
        <img class="logo" src="./calc.jpeg">
        <h1 class='main_title'>CALCULATOR</h1>
        <P class="my-title">Your total is <%=result %></P>

    </body>
</html>