<!DOCTYPE html>
<html>
    <body>
        <div class="container">
            <div class="row">
                <h1 class='main_title'>CALCULATOR</h1>
                <P class="my-title">Your total is: <%=result %></P>
            </div>
        </div>
    </body>
</html>