<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <title>App Calculator</title>
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <img class="logo" src="./calc.png">
        <h1 class="main_title">Enter number to calculate</h1>

        <form class='form' action="result" method="post" enctype="multipart/form-data">
            <input type='text' name='number1'>
            <input type='text' name='number2'><br>
            <button type="submit" name="operation" value="add">Add</button><br>
            <button type="submit" name="operation" value="subtract">Subtract</button><br>
            <button type="submit" name="operation" value="multiply">Multiply</button>
            <button type="submit" name="operation" value="divide">Divide</button><br>
            <button type="submit" name="operation" value="result">=</button>
        </form>
    </body>
</html>