* {
	padding: 0;
	margin: 0;
}
body {
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	text-align: center;
}
h1,
h2,
h4 {
	font-family: 'PT Sans Narrow', Aerial, sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}
p {
	font-size: 15px;
	line-height: 21px;
}
.btn {
	transition: all 300ms ease-in-out;
	font-weight: 500 !important;
	text-transform: uppercase;
}
.btn:hover {
	background: #ededed !important;
	color: #3c3c3c !important;
}
form {
	text-align: center;
	display: inline-block;
	margin-top: 30px;
}

.logo {
	margin-top: 30px
}
.calculate {
	text-align: center;
}